:root {
    --main-color: #369DF9;
}
body {
    background-color: #f3fcfb;
}
header {
    background-color: #fff;
}
h1 {
    text-align: center;
    color: var(--main-color);
    padding: 15px;
    font-size: 25px;
}
#computers {
    margin: 0 auto;
    position: relative;
    max-width: 90%;
    text-align: center;
}
.computer-container {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    width: 300px;
    height: 260px;
    display: inline-grid;
    position: inherit;    
    margin: 20px;
}
.computer-name {
    text-align: left;
    margin-left: 10px;
}
p.description {
    display: inline-grid;
}
.description-container {
    font-size: 10px;
    color: #8c8c8c;
    margin-top: 10px;
    display: none;
}

.description-container a {
    color: inherit;
    /* text-decoration: none; */
}
.rank {
    background: var(--main-color);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    position: absolute;
    margin-top: -20px;
    right: 5px;
}
.info-container span {
    font-size: 12px;
    color: #a2a2a2;
    margin: 0 10px;
}
.image-container {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
img.img-supercomputer {
    width: inherit;
}